body {
    margin: 0;
    padding: auto;
    font-family: $font-family-base;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}


.data-table {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 30px;

    .table-wrapper {
        overflow-y: auto;
        overflow-x: auto;
        max-height: 350px;

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background-color: #f1f1f1;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #ccc;
            border-radius: 10px;
        }

        .table {
            border-spacing: 0;
            font-size: 15px;
            width: 100%;
            min-width: 1000px;

            .table-head {
                .head-title {
                    background-color: #eee;
                    padding: 15px;
                    text-align: left;
                }
            }

            .table-content {
                border-bottom: 1px solid #eee;
                border-left: 1px solid #eee;
                transition: 0.3s;
                padding: 15px;
                max-width: 400px;
                font-family: $font-family-table;
            }

            .link {
                text-decoration: underline;
                color: $secondary;
                cursor: pointer;
            }
        }

        .icon-wrapper {
            text-align: center;
            border-left: 1px solid #eee;
            border-bottom: 1px solid #eee;

            .delete-icon {
                stroke: red;
                width: 30px;
                height: 30px;
                text-align: center;
                cursor: pointer;
            }

            .delete-icon path {
                stroke: red;
            }

        }
    }

}

.subtitle-base {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: $secondary;

    @include respond-to(sm) {
        font-size: 14px;
    }
}

.title-base {
    font-family: $font-family-display;
    font-weight: 400;
    font-size: 32px;
    color: $primary;

    @include respond-to(sm) {
        font-size: 24px;
    }
}

//inputs
.base-input {
    border-radius: 5px;
    border: 1px solid $accent;
    background: $primary;
    width: 245px;
    height: 50px;
    padding: 0;
    margin: 0;
    outline: none;
    box-shadow: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: $white;
    padding-left: 22px;
    -webkit-appearance: none;

    &::placeholder {
        color: $white;
    }
}

.logo-text {
    font-family: $font-family-display;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    color: $primary;

    .logo-text-secondary {
        color: $secondary
    }

    @include respond-to(md) {
        color: $accent
    }
}

.select-wrapper {
    position: relative;

    .select {
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    &::after {
        content: '';
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 9px;
        background: url('../icons/arrow.svg') no-repeat center;
        background-size: contain;
        pointer-events: none;
    }
}

.form-wrapper {
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    padding: 20px;
    box-sizing: border-box;

    .title-base {
        margin-bottom: 20px;
        text-align: center;
    }

    .doctor {
        grid-column: 1 / -1;
    }

    .form-holder {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-content: center;

        @include respond-to(sm) {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 0;
            align-items: stretch;
        }

        .input-group {
            display: flex;
            flex-direction: column;
            position: relative;
        }

        .base-input,
        .select-wrapper {
            box-sizing: border-box;
            width: 100%;
            padding: 10px;

            &:disabled {
                opacity: 0.7;
                cursor: not-allowed;
            }

            @include respond-to(sm) {
                width: auto;
            }

            select {
                width: 100%;

                @include respond-to(sm) {
                    width: auto;
                }
            }
        }

        .input-error {
            border: 1px solid red;
        }

        .error {
            color: red;
            font-size: 12px;
            margin-top: 5px;
        }
    }

    .form-button {
        grid-column: 1 / -1;
        background-color: $accent;
        border: none;
        font-weight: 500;
        font-size: 16px;
        height: 50px;
        line-height: 140%;
        text-transform: uppercase;
        text-align: center;
        color: $primary;
        border-radius: 5px;
        transition: background-color 0.3s;
        width: 100%;
        max-width: 268px;
        margin: 20px auto 0;
        cursor: pointer;

        &:hover {
            background-color: $accent-hover;
        }
    }

    .base-subtitle {
        text-align: center;
        margin-top: 20px;

        .form-link {
            color: $secondary;
        }
    }

    .base-textarea {
        background-color: $primary;
        grid-column: span 2;
        height: 190px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: $white;
        padding: 22px 0 0 22px;
        resize: none;
        outline: none;

        &::placeholder {
            color: $white;
        }

        &:disabled {
            opacity: 0.7;
            cursor: not-allowed;
        }
    }
}