.about-wrapper {
    position: relative;

    .banner {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.5);
            z-index: 5; // Убедитесь, что он ниже .banner-holder
        }

        .image {
            position: relative;
            width: 100%;
        }

        .banner-holder {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            display: flex;
            justify-content: center; // Horizontal centering
            align-items: center; // Vertical centering
            text-align: center; // Ensure text is centered

            .banner-text {
                width: 90%;
                max-width: 1200px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: center; // Center text vertically
                align-items: center; // Center text horizontally
                text-align: center; // Ensure text alignment is centered

                .title-base {
                    font-weight: 400;
                    font-size: 48px;
                }
            }
        }
    }

    .about-info-wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: center;
        gap: 20px;

        @include respond-to(md) {
            flex-direction: column;
            align-items: center;
        }

        .info-image {
            @include respond-to(md) {
                max-width: 350px;
            }
        }

        .info-wrapper {
            display: flex;
            flex-direction: column;
            max-width: 565px;

            @include respond-to(md) {
                text-align: center;
                align-items: center;
            }

            .subtitle-base {
                letter-spacing: 0.16em;
                margin-bottom: 5px;
            }

            .title-base {
                font-size: 48px;
                max-width: 446px;
                margin: 0;
                padding: 0;

                @include respond-to(sm) {
                    font-size: 24px;
                }
            }

            .content-list {
                list-style: none;
                max-height: 107px;
                margin-top: 30px;
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                padding: 0;

                @include respond-to(sm) {
                    margin-bottom: 40px;
                }

                .content-list-item {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 140%;
                    flex: 1 1 45%;
                    box-sizing: border-box;
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;

                    .list-circle {
                        background-color: $secondary;
                        border-radius: 50%;
                        width: 16px;
                        height: 16px;
                        margin-right: 10px;
                        flex-shrink: 0;
                    }
                }
            }
        }

    }

    .doctors-wrapper {
        margin: 68px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}