.nav-button {
    border-radius: 50px;
    padding: 13px 35px;
    max-width: 173px;
    height: 45px;
    font-weight: 500;
    font-size: 16px;
    color: $primary;
    background-color: $accent;
    cursor: pointer;
    outline: none;
    border: none;
    transition: background-color .3s;

    &:hover {
        background-color: $accent-hover;
    }
}