.form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 500px;
      .base-textarea{
          background-color: $primary;
          grid-column: span 2;
          height: 190px;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          color: $white;
          padding: 22px 0 0 22px;
          resize: none;
          outline: none;
          &::placeholder{
            color: $white;
        }
      }
      .form-button{
        background-color: $accent;
        grid-column: span 2;
        border:none;
        font-weight: 500;
        font-size: 16px;
        height: 50px;
        line-height: 140%;
        text-transform: uppercase;
        text-align: center;
        color: $primary;
        border-radius: 0 0 5px 5px;
        transition: background-color .3s;
        cursor: pointer;
        &:hover{
            background-color: $accent-hover;
        }
      }
}