.header{
    display: flex;
    flex-direction: column;
    .upper-header-wrapper{
        display: flex;
        justify-content: space-evenly;
        height: 80px;
        align-items: center;
        .logo-wrapper{
            display: flex;
            align-items: center;
            .logo-text{
                font-family: $font-family-display;
                font-weight: 400;
                font-size: 36px;
                text-transform: uppercase;
                color: $primary;
                .logo-text-secondary{
                    color:$secondary
                }
            }
        }
        .info-wrapper{
            display: flex;
            gap: 30px;
            .info{
                display: flex;
                align-items:center;
                gap: 8px;
                .info-title{
                    font-weight: 500;
                    font-size: 16px;
                    text-transform: uppercase;
                    color: $primary;
                    margin: 0;
                }
                .info-text{
                    font-weight: 500;
                    font-size: 16px;
                    color: $secondary;
                    margin: 0;
                }
            }
        }
    }
    .nav-wrapper{
        background-color: $primary;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .links-wrapper{
            display: flex;
            margin-left: 15px;
            gap: 20px;
            .link{
                font-weight: 400;
                font-size: 18px;
                color: $white;
                text-decoration: none;
            }
            .link-active{
                font-weight: 600;
                font-size: 18px;
                color: $accent;
            }
        }
    }
}