.home-wrapper {
    .images-wrapper {
        position: relative;
        width: 100%;
        .banner{
            .image {
                position: relative;
            }
            .banner-holder{
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
                .banner-text{
                    width: 1200px;
                    margin: 0 auto;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }
        .bg {
            position: absolute;
            z-index: 3;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: url('../images/Frame.png') no-repeat center center;
            background-size: cover;
        }
        .rectangle{
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: url('../images/Rectangle.png') no-repeat center center;
            background-size: cover;
        }
        .reverse{
            transform: scaleX(-1);
            position: absolute;
            right:0
        }
        .box-wrapper{
            display: flex;
            position: absolute;
            z-index: 12;
            bottom: -25px; /* Располагаем элемент внизу */
            left: 50%; /* Центрируем по горизонтали */
            transform: translateX(-50%); /* Выравниваем относительно центра */
            gap: 21px; /* Промежуток между элементами */
            
            .box{
                display: flex;
                border-radius: 5px;
                padding: 25px 20px;
                width: 316px;
                max-height: 100px;
                align-items: center;
                justify-content: center;
                gap: 54px;
            }
            .primary{
                background-color: $primary;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: $white;
            }
            .accent{
                background-color: $accent;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: $primary;
            }
            .secondary{
                background-color: $secondary;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: $white;
            }
        }
    }
    .welcome-wrapper{
        margin-top: 68px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .welcome-text{
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 0.16em;
            text-transform: uppercase;
            text-align: center;
            color: $secondary;
        }
        .welcome-title{
            margin: 0;
            padding: 0;
            margin-top: 18px;
        }
        .welcome-paragraph{
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            text-align: center;
            color: $black;
            margin: 0;
            max-width: 658px;
            margin-top: 28px;
            padding: 0;
            
        }
        .link-button-wrapper{
            display: flex;
            gap: 10px;
            align-items:center;
            margin-top: 42px;
            margin-bottom: 63px;
            cursor: pointer;
            .link-button-text{
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: $secondary;
            }
        }

    }
    .services-wrapper{
        margin-top: 63px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .tab-section{
            margin-top: 74px;
        }
    }
    .specialties-wrapper{
        margin-top: 130px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .specialties-container{
            display: flex;
            max-width: 1000px;
            max-height: 516px;
            flex-wrap: wrap;
            justify-content: center;
            .specialty{
                display: flex;
                flex-direction: column;
                width: 248px;
                height: 172px;
                align-items: center;
                justify-content: center;
                border: 0.15px solid rgba(0, 0, 0, 0.19);
                .heart-icon{
                    margin-bottom: 11px;
                }
                .specialty-title{
                    font-weight: 400;
                    font-size: 16px;
                    color: $black;
                }
            }
        }
    }
    .book-wrapper {
        position: relative;
        width: 100%;
        margin-top: 65px;
      }
      
      .book-wrapper::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $white;
        opacity: 0.8;
        z-index: 10;
        pointer-events: none; /* Чтобы фоновый слой не блокировал взаимодействие с дочерними элементами */
      }
      
      .book-image {
        width: 100%;
        height: 100%;
      }
      
      .text-holder {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 20; /* Повышаем z-index, чтобы текст был выше псевдоэлемента */
        background: transparent; /* Убираем фон */
      }
      
      .text {
        width: 1200px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      
      .text-wrapper {
        display: flex;
        flex-direction: column;
      }
      
      .book-title {
        font-family: $font-family-display;
        font-weight: 400;
        font-size: 32px;
        color: $secondary;
        margin: 0;
        padding: 0;
      }
      
      .book-paragraph {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        margin: 0;
        padding: 0;
        max-width: 407px;
        margin-top: 20px;
      }
      
}
