.registration-wrapper {
    margin: 40px auto;
    max-width: 1100px;
    width: 100%;
    max-height: 900px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .tabs {
        display: flex;
        gap: 40px;
        margin-bottom: 30px;

        .tab {
            font-weight: 400;
            background-color: $primary;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 18px;
            color: $white;
            text-decoration: none;
            transition: font-weight .3s, font-size .3s, color .3s;

            &:hover {
                font-weight: 600;
                font-size: 18px;
                color: $accent;
            }
        }

        .tab-active {
            font-weight: 600;
            font-size: 18px;
            color: $accent;
        }
    }

    .bg-image {
        background-image: url('../images/register.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 5px;
        max-width: 1100px;
        width: 100%;
        min-height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;

        .form-wrapper {
            background-color: #fff;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 900px;
            padding: 20px;
            box-sizing: border-box;

            .title-base {
                margin-bottom: 20px;
                text-align: center;
            }

            .doctor {
                grid-column: 1 / -1;
            }

            .form-holder {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
                justify-content: center;

                @include respond-to(sm) {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 0;
                    align-items: stretch;
                }

                .input-group {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                }

                .base-input,
                .select-wrapper {
                    box-sizing: border-box;
                    width: 100%;
                    padding: 10px;

                    @include respond-to(sm) {
                        width: auto;
                    }

                    select {
                        width: 100%; // Применяем 100% ширины для select на больших экранах

                        @include respond-to(sm) {
                            width: auto; // Для маленьких экранов применяем auto
                        }
                    }
                }

                .input-error {
                    border: 1px solid red;
                }

                .error {
                    color: red;
                    font-size: 12px;
                    margin-top: 5px;
                }
            }

            .form-button {
                grid-column: 1 / -1;
                background-color: $accent;
                border: none;
                font-weight: 500;
                font-size: 16px;
                height: 50px;
                line-height: 140%;
                text-transform: uppercase;
                text-align: center;
                color: $primary;
                border-radius: 5px;
                transition: background-color 0.3s;
                width: 100%;
                max-width: 268px;
                margin: 20px auto 0;
                cursor: pointer;

                &:hover {
                    background-color: $accent-hover;
                }
            }

            .base-subtitle {
                text-align: center;
                margin-top: 20px;

                .form-link {
                    color: $secondary;
                }
            }
        }
    }
}